@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #6366f1;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
}
